@using Layered.Entities.Concrete

@model Product

@{
    ViewData["Title"] = "Ürün Ekle";
}

<form method="post" class="mt-5">
    <div class="row border py-3">
        <div class="col-12">
            <h2 class="text-primary">Ürün Ekle</h2>
        </div>
        <div class="col-12 pt-3">
            <div class="form-group row pt-3">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row pt-3">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" />
                </div>
            </div>
            <div class="form-group row pt-3">
                <div class="col-4">
                    <label asp-for="Quantity"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Quantity" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4 mt-3">
                    <button class="btn btn-success">Ürün Ekle</button>
                    <a asp-action="Index" class="btn btn-primary">Ürün Listesi</a>
                </div>
            </div>
        </div>
    </div>
</form>

